<article>
  <%= htmlify(@docstring) %>
</article>

<% c = options[:controllers].detect { |c| c.has_tag?(:note) } %>
<% c && c.tags(:note).each do |tag| %>
  <blockquote class="note">
    <p><strong>Note</strong></p>
    <%= htmlify tag.text %>
  </blockquote>
<% end %>

<section>
  <h2>Interfaces</h2>

  <ul id="quicklinks"></ul>
</section>

<% @json_objects.each do |name, json| %>
  <% properties = render_properties(json) %>
  <div class='object_definition'>
    <h3>
      <a name="<%= name %>"></a><%= name %> object synopsis:
    </h3>
    <pre class="example code"><%= html_syntax_highlight(properties ? properties : json, :plain) %></pre>
  </div>
<% end %>
