<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>

    <% inline_stylesheets.each do |style| %>
      <%= erb(style) %>
    <% end %>
  </head>

  <body class="theme-<%= api_options.theme %> <%= 'onefile' if api_options.one_file %>">
    <div id="sidebar">
      <%= erb(:sidebar) %>
    </div>

    <% if options[:all_resources] %>
      <div id="content">
        <% if api_options.one_file %>
          <% static_pages.each do |page| %>
            <%= diskfile page[:src] %>
          <% end %>
        <% end %>

        <% @endpoints = options[:endpoints].values.flatten %>
        <%= erb "../../topic/html/endpoints" %>

        <% options[:resources].each do |resource, controllers| %>
          <%= yieldall object: resource, controllers: controllers %>
        <% end %>
      </div>
    <% else %>
      <div id="content"><%= yieldall %></div>
    <% end %>

    <% if api_options.show_footer %>
      <%= erb(:footer) %>
    <% end %>

    <% inline_javascripts.each do |script| %>
      <%= erb(script) %>
    <% end %>
  </body>
</html>
