<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
  </head>

  <body>
    <div id="sidebar">
      <%= erb(:sidebar) %>
    </div>

    <div id="content"><%= yieldall %></div>

    <%= erb(:footer) %>
    <%= erb(:scripts) %>
  </body>
</html>
