<nav>
  <h1>
    <%= api_config['title'] %>
    <%= api_config['version'] %>
  </h1>

  <h2 class='first'>Pages</h2>
  <a
    href="<%= url_for("index.html") %>"
    class="<%= 'current' if options[:object] == 'index.html' %>">Home
  </a>

  <% static_pages.each do |page| %>
    <a  href="<%= url_for(page[:filename]) %>"
        class="<%= 'current' if options[:object] == page[:filename] %>">
      <%= page[:title] %>
    </a>
  <% end %>

  <h2>Resources</h2>
  <% options[:resources].each_with_index do |(resource, controllers), i| %>
    <%
      link = url_for("#{topicize resource}.html")
      klass = []
      klass << "current" if resource == options[:object]
    %>
    <a class="<%= klass.join(' ') %>" href="<%= link %>"><%= resource %></a>
  <% end %>
</nav>
