<div>
  <h1>
    <%= api_options['title'] %>
    <%= api_options['version'] %>
  </h1>

  <h2 class="sidebar__heading">API</h2>

  <nav id="static_pages">
    <%= sidebar_link(api_options.readme_page_title, 'index.html') %>
    <% static_pages.each do |page| %>
      <%= sidebar_link(page[:title], page[:filename]) %>
    <% end %>
  </nav>

  <h2 class="sidebar__heading">Resources</h2>

  <nav>
    <% if api_options['resource_index'] %>
      <%= sidebar_link('All Resources', 'all_resources.html') %>
    <% end %>

    <% options[:resources].each do |resource, controllers| %>
      <%= sidebar_link resource, controllers.first %>
    <% end %>
  </nav>
</div>
