<div class='method-details'>
  <h2 class='method-details__name'>
    <a
      name='<%= anchor_for(object) %>'
      href='<%= url_for(object) %>'
      class='method-details__name-link'
    >
      <%= object.tag('API').text %>
    </a>

    <% if object.has_tag?('beta') && api_options["use_beta_flag"] %>
      <span
        class="method-details__beta-flag"
        title="This API endpoint is not finalized, and there could be
               breaking changes before its final release."
      >
        BETA
      </span>
    <% end %>

    <% if @props[:path] && !api_options.github_url.to_s.empty? %>
      <span class='method-details__defined-in'>
        <a href="<%= api_options.github_url %>/blob/<%= api_options.github_branch %>/<%= @props[:path] %>">
          <%= "#{@props[:controller]}Controller\##{@props[:action]}" %>
        </a>
      </span>
    <% end %>
  </h2>

  <%= yieldall %>
</div>
