<div class='method_details'>
  <h2
    class='api_method_name'
    name='<%= @props[:method_link] %>'
    data-subtopic='<%= @props[:subtopic] %>'
  >
    <a
      name='<%= @props[:method_link] %>'
      href='#<%= @props[:method_link] %>'
    >
      <%= object.tag('API').text %>
    </a>

    <% if @props[:path] && !api_options.github_url.to_s.empty? %>
      <span class='defined-in'>
        <a href="<%= api_options.github_url %>/blob/<%= api_options.github_branch %>/<%= @props[:path] %>">
          <%= "#{@props[:controller]}Controller\##{@props[:action]}" %>
        </a>
      </span>
    <% end %>
  </h2>

  <%= yieldall %>
</div>
