<% has_code = false %>

<h4>Possible Errors:</h4>
<p>
  Your request may be rejected with an HTTP status code and an error message
  from the following set:
</p>

<table class="endpoint-errors">
  <thead>
    <tr>
      <th>Response Code</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
    <% object.tags(:throws).each do |tag| %>
      <%
        error = JSON.parse(tag.text)
        error[:reason] = error['reason'] || ''
        error[:message] = error['message'] || ''
        error[:status] = tag.type
      %>

      <tr>
        <td>
          <%= error[:status] %>
          <%= Rack::Utils::HTTP_STATUS_CODES[error[:status].to_i] %>
        </td>

        <% if has_code %>
          <td>
            <code><%= error[:code] %></code>
          </td>
        <% end %>

        <td>
          <code>"<%= error[:message] %>"</code>

          <% unless error[:reason].empty? %>
            <p class="type-mute">
              <em>
                <!-- <p><strong>Reason:</strong></p> -->
                <%= linkify error[:reason] %>
              </em>
            </p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
